:root {
    --black:#000000;
    --white: #FFFFFF;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --dark: #232830;
    --hospital-green: #ACD9B2;
}
body {
    font-family: 'Quicksand', sans-serif;
}
/* ----------------estilos de navbar------------- */
.navbar-main {
    display: flex;
    justify-content:space-between;
    padding: 0 24px;
    border-bottom:1px solid var(--very-light-pink);
}
.navbar-left {
    display: flex;
}
.menu {
    display: none;
}
.logo {
    width: 100px;
}
.navbar-left ul, .navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0px 8px 0 8px;
    display: flex;
    align-items: center;
    height: 60px;
}

.navbar-left ul li a, .navbar-right ul li a{
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    border-radius: 8px;
    padding: 8px;
}
.navbar-left ul li a:hover, .navbar-right ul li a:hover{
    color: var(--hospital-green);
    border: 1px solid var(--hospital-green);
}
.email{
    font-size: var(--sm);
    font-weight: bold;
    color: var(--very-light-pink);
    margin-right: 12px;
}
.email img{
    margin-left: 10px;
    margin-right: 10px;
    transform: rotate(90deg);
    width: 9px;
    cursor: pointer;
}
.navbar-shopping-cart{
    position: relative;
}
.carrito{
    cursor: pointer;
}
.navbar-shopping-cart div{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: var(--sm);
    width: 14px;
    height: 14px;
    font-weight: bold;
    border-radius: 50%;
    background-color: var(--hospital-green);
    top: -6px;
    right: -3px;
}
.inactive {
    display: none;
}
/* ----------navbar----------------- */

/* ----------estilos de menu------------ */
.desktop-menu {
    position: absolute;
    background: var(--white);
    top: 68px;
    right: 68px;
    width: 100px;
    height: auto;
    border: 2px solid var(--very-light-pink);
    border-radius: 8px;
    padding: 20px 20px 0 20px;
}.desktop-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.desktop-menu ul li {
    text-align: end;
}
/* ultimo hijo de la lista */
.desktop-menu ul li:last-child {
    padding-top: 15px;
    border-top: 1px solid var(--very-light-pink);
}
/* seleciona los elementos de  li menos el ultimo*/
.desktop-menu ul li:not(:last-child) {
    font-weight: bold;
}
/* ultimo hijo de la lista se escoje a "a" */
.desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
}
.desktop-menu ul li a {
    display: inline-block;/* para poder ponerle el margin */
    color: var(--black);
    text-decoration: none;
    margin-bottom: 20px;
}
/*----- fin menu  derecha------*/

/* ---------menu mobile izquierda ------*/
.mobile-menu {
    width: 200px;
    border: 2px solid var(--very-light-pink);
    border-radius: 8px;
    padding: 10px 20px 0 30px;
}
.active-menu-mobile {
    display: none;
}
.mobile-menu ul {
    list-style: none;
    margin: 36px 0 0;/* separa un poco los ul en la parte superior */
    padding: 0;
    font-weight: bold;
}
.mobile-menu ul li {
    text-align:left;
    margin-bottom: 15px;
}

.mobile-menu ul li a {
    display: inline-block;/* para poder ponerle el margin */
    color: var(--black);
    text-decoration: none;
}
/* colocamos dos clases para darle mas peso por especifidad,
 sino no toma los estilos porque ya se le puso estilo mas arriba */
.mobile-menu .email { 
    font-size: var(--sm);
    font-weight: lighter;
}
.mobile-menu .sign-out{
    color: var(--hospital-green);
    font-size: var(--sm);
}
.mobile-menu-botton{
   margin-top: 60px; 
}
.mobile-menu  ul:nth-child(2) {
    padding-top: 15px;
    border-top: 1px solid var(--very-light-pink);
}
/* ------------fin menu mobile-------------- */
/* -----------shopping cart ------------ */
.my-orders{
    display: flex;
    align-items: center; 
    flex-direction: column;
    width: 38vw;
    height: 100vh;
    margin-right: 50px;
    margin-left: auto;

}
.menu-container{
    display:flex;
    position: relative;
    width: 90%;
    top: 10px;
    border-bottom: 2px solid var(--very-light-pink-2);
}
.menu-container figure{
   margin: 10px 0 10px;
}
.menu-container figure img{
    width: 10px;
    transform: rotate(180deg);
    cursor: pointer;
 }
.menu-container h1{
    margin: 10px 0 10px;
    font-size: var(--lg);
 }
 .menu-container div{
    flex-grow: 1;
    text-align: center;
}
 .main-container {
    width: 90%;
}
.product-card{
    width: auto;
    display:flex;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}
.product-card  img {
    width: 80px;
    height: 80px;
    border-radius: 16px;
    object-fit: cover;
}
.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0 0 20px;
    flex-grow: 1;

}

.product-info  p:nth-child(2){/*  nth.. es para indicar el hijo que quiero utilizar*/
    font-weight: bold;
    font-size: var(--md);
}
.product-info p:nth-child(1){/*  nth.. es para indicar el hijo que quiero utilizar*/
    font-size: var(--sm);
    color: var(--very-light-pink);
}
.delete {
    display: flex;
    align-items: center;
    margin: 12px 0 0 15px;
}
.delete img{
    width: 18px;
    height: 18px;
}
.delete img:hover{
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: space-between;
    background: var(--very-light-pink-2);
    border-radius: 12px;
    padding: 0 10px 0 10px;

}
.total p{
    font-weight: bold;
}
.primary-button{
    margin-top: 20px;
    margin-bottom: 30px;

    height: 50px;
    width: 100%;

    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    cursor: pointer;/*para que aparezca una mano en vez de una fecha al pasar el cursor por encima del boton  */
    font-size: var(--md);
    font-weight: bold;/*negrilla */
}

@media (max-width:640px){
/* aside width 100% */
}
/* -----------fin shoppinCart ---------- */
@media (max-width:640px){
    /* estilos de navbar */
    .menu{
        display: block;
    }
    .navbar-left ul{
        display: none;
    }
    .email {
        display: none;
    }
    /*---- fin navbar---- */
    .desktop-menu{
        display: none;
    }
    .my-orders{
        width: 100%;
    }
}
@media (min-width:641px){
    /* coloco min-width para que se oculte el menu cuando este desktop */
    .mobile-menu{
        display: none;
    }
}
